*{
    background-color: rgba(118, 191, 234, 0.25)
    
}

h1{
    text-align: center;
    text-decoration-color: azure;
}
div{
    text-decoration: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    border-color: rgb(5, 30, 45) ;
    
    margin-bottom: 50px;
    margin-top: 50px;
}